function : void yuck() {
    int a = 0;
    decltype(a++ + 1) b; // int
    decltype(a / 1.0) c; // float
    decltype(!false || true) d; // bool

    // Value of type float not assignable to variable of type int.
    b = 5.0;

    // Value of type bool not assignable to variable of type int.
    b = false;

    // Value of type bool not assignable to variable of type float.
    c = true;

    // Value of type int not assignable to variable of type bool.
    d = 0x15;

    // Value of type float not assignable to variable of type bool.
    d = 1.1;
}