// All these lines should compile without error.

function : void nice_type_factory() {
    int a = 0;
    decltype(a++ + 1) b; // int
    decltype(a / 1.0) c; // float
    decltype(!false || true) d; // bool

    b = 04;

    c = 10.0;

    d = true;
}