function : void main() {
    // Initialization value of type float not assignable to constant/variable
    // of type int.
    int a = 1.0;

    // Initialization value of type int not assignable to constant/variable
    // of type bool.
    bool b = 2;

    // Initialization value of type bool not assignable to constant/variable
    // of type float.
    float c = false;
}