//Casting a funcptr
typedef funcptr : int() FP1;
typedef funcptr : float() FP2;
funcptr : float() f;

f = (FP2)FP1; //error

//Casting on the left
int x;
(float)x = 5.0; //error not a mod L val

//Cannot pass by reference
float flt = 2.1;
function : void pbr(int & x) {}
pbr((int)flt); //error, not mod l value

//Cannot pass to address-of operator
int* ptr;
ptr = &((int)flt); //error, not addressable

//Entire structs and arrays cannot be cast
int[10] y;
float[10] floats;
floats = (float)y; //error

structdef MYSTRUCT {
	float field1, field2;
};

structdef FOOSTRUCT {
	int field1, field2;
};

FOOSTRUCT f = FOOSTRUCT(MYSTRUCT); //error

//float to bool
const float iamafloat = 3.14;
bool boo = (bool)iamafloat; //error

//pointer to bool
const int* intptr = 2;
boo = (bool)intptr; //error


