typedef int INTEGER;

typedef bool BOOL;

function : void main() {
    typedef int INTEGER;

    // redeclared identifier 'INTEGER'.
    typedef int INTEGER;

    typedef float FLOAT;

    // redeclared identifier 'FLOAT'.
    typedef FLOAT FLOAT;
}

// redeclared identifier 'BOOL'.
typedef int BOOL;