typedef int INTEGER;
typedef INTEGER INTEGER2;

// typedef void VOID;

function : INTEGER child_scope_1() {
    typedef float FLOAT;
    typedef FLOAT FLOAT2, FLOAT3;

    return 0;
}

function : INTEGER2 child_scope_2() {
    typedef float FLOAT;
    typedef int INTEGER;

    if (true) {
        typedef int INTEGER;
    }

    return 0;
}