//This file should generate syntax errors.

function : int main() {
	int hexBad = 0xr3;
	int hexOutofBounds = 0xG;
	bool hexNotNumericAssign = 0x42;
	int hexBadJustOne = 0x123g;
	int octalbad = 08;
	int octalAlphaBad = 0BFF;
	int badDecimal = 1234BFF;
	return 0;
}
